#This file contains all the buildingblocks/Items that have equivalent items/blocks some including items with metadata.
#Anything in the same list will be treated the same for dwarfcraft purposes
#
#Examples:
#Log: 17,162
#Wool: 35
#Wood Stairs: 134, 135, 136, 163, 164

Wood: 5
Saplings: 6
Double Stone Slab: 43
Stone Slab: 44
Double Wood Slab: 125
Wood Slab: 126
Stained Glass: 95
Stained Glass Pane: 160
Logs: 17, 162
Wood Stairs: 134, 135, 136, 163, 164
Fence Gate: 107, 183, 184, 185, 186, 187
Fence: 85, 188, 189, 190, 191, 192
Wool: 35
Carpet: 171
Redstone Ore: 73, 74
Redstone Torch: 75, 76
Redstone Repeater: 93, 94
Redstone Lamp: 123, 124
Redstone Comparator: 149, 150
Furnace: 61, 62
Wood Door Block: 64, 193, 194, 195, 196, 197
Wood Door: 324, 427, 428, 429, 430, 431