#This is the default configuration setup for DwarfCraft

#Manually set the skills file version to use. Use skills.config.v99 for version 99
#No version number uses current version
Skills File Name: skills.csv

#Manually set the effects file version to use. Use effects.config.v99 for version 99.
#No version number uses current version
Effects File Name: effects.csv

Messages File Name: messages.config

Greeter Messages File Name: greeters.config

Race File Name: races.config

World Blacklist: world-blacklist.config

#Manually set the DwarfCraft database to another database file, if you are using multiple sqlite plugins this should work.
Database File Name: dwarfcraft.db

#Affects debug level on restart
Debug Level: 7

#If we should greet every player as they come online
Send Login Greet: False

#Stop Cacti and other crops from being farmed through automation.
Disable Farm Exploits: True

#If we should prevent DwarfCraft from being activated in all worlds
World Blacklist: False

#This is the delay between each time a trainer can train a skill for any player. So if your trainer needs to "recuperate". Also allows some time for your server to recover from the training lag. (In Seconds).
Train Delay: 2

#If we should allow Silk Touch to take effect on DwarfCraft Drops, If false only vanilla items are dropped.
Silk Touch: True

#If true than blocks/items that are equivalent of each other will be treated as the same. i.e. all wool blocks will be seen as the same for checks on drops, same with logs, wood, fences, stained glass, most building blocks of same materials.
Group Equivalent Building Blocks: True

#The Default Race of DwarfCraft (Has to be a race from races.config)
Default Race: Dwarf

#If we should have a vanilla race on the server
Vanilla Race Enabled: true

#The name of the vanilla race
Vanilla Race: Vanilla