# Format:
# <Name>
# <SkillIDs>
# <Description>
# The Skill IDs are the skills that the race excels in compared to other races.
# NOTE: If the race doesn't specialize in a skill then they can't train it further than the vanilla player level (Generally level 5).
# for example:
# Dwarf
# SkillIDs: 11,12,13,14,21,22,23,65,75
# Description: A Dwarven race.

Name: Dwarf
SkillIDs: 11,12,13,14,21,22,23,75,63,65,1,2,99,101
Description: Dwarves excel in skills that revolve around mining.

Name: Elf
SkillIDs: 67,85,81,82,87,73,72,86,83,84
Description: Elves excel in the skills that revolve around combat and hunting.

Name: Gnome
SkillIDs: 32,51,53,61,7,9,10,15,16,86,88,89,91
Description: Gnomes excel in the skills that revolve crafting.

Name: Human
SkillIDs: 62,66,71,4,5,6,41,42,74,31,8,3
Description: Humans excel in skills that revolve around smithing, cooking and farming.
# Don't delete this or it won't add your last race into the database.